html:lang(zh) {
	#unsupportedES2023::before {
		content: "浏览器不支持ES2023，请升级浏览器！";
	}

	#submit::after {
		content: "登录";
	}

	label[for="inputUserName"]::after {
		content: "用户名";
	}

	#aForgotPassword::after {
		content: "忘记密码";
	}

	label[for="inputPassword"]::after {
		content: "密码";
	}

	#pStatus {
		&.wait-a-moment::after {
			content: "请稍等...";
		}

		&.invalid-username-or-password::after {
			content: "用户名或密码错误";
		}
	}
}
