html.dark * {
  color-scheme: dark;
}

html.dark p {
  color: white;
}

html.dark .main,
html.dark .divDialogSettingsMain2 {
  background-color: #1d1e1f;
  border: 1px solid #414243;
}

html.dark .loginTitleTab {
  background-color: gray;
}

html.dark .loginTitle {
  color: white;
}

html.dark .loginTitle:hover {
  color: #1aadff;
}

html.dark .loginTitleSelect {
  text-decoration-color: #1aadff;
  color: #1aadff;
}

html.dark .form {
  border-color: gray;
  background-color: gray;
}

html.dark input {
  color-scheme: light;
  color: white;
  background-color: #343434;
  border-color: gray;
  outline-color: #1aadff;
}

html.dark .loginbutton {
  background-color: #0066d3;
}

html.dark .loginbutton:hover {
  background-color: #0072eb;
}

html.dark .loginbutton:active {
  background-color: #004ea2;
}

html.dark .loginbutton:disabled {
  background-color: #212a34;
}

html.dark .buttonOpenSettings>svg>path,
html.dark .divDialogSettingsHeaderClose>svg>path {
  fill: #fff;
}

html.dark .divDialogSettingsBody>div>select {
  background-color: #000;
}

html.dark .divDialogSettingsMain2 {
  color: white;
}