html.dark * {
  color-scheme: dark;
}

html.dark p {
  color: white;
}

html.dark .main {
  background-color: rgba(16, 16, 16, 0.94);
}

html.dark .loginTitleTab {
  background-color: gray;
}

html.dark .loginTitle {
  color: white;
}

html.dark .loginTitle:hover {
  color: #1aadff;
}

html.dark .loginTitleSelect {
  text-decoration-color: #1aadff;
  color: #1aadff;
}

html.dark .form {
  border-color: gray;
  background-color: gray;
}

html.dark input {
  color-scheme: light;
  color: white;
  background-color: #424242;
  border-top-color: gray;
  outline-color: #1aadff;
}

html.dark .loginbutton {
  background-color: #0066d3;
}

html.dark .loginbutton:hover {
  background-color: #0072eb;
}

html.dark .loginbutton:active {
  background-color: #004ea2;
}

html.dark .loginbutton:disabled {
  background-color: #212a34;
}

html.dark .div_button_lang {
  color: black;
}

html.dark .div_change_lang_content {
  background-color: #333;
}

html.dark .div_change_lang_content_a {
  color: white;
}

html.dark .div_change_lang_content_a:hover {
  color: #d1d1d1;
}

html.dark .div_change_lang_content_a:active {
  color: #a0a0a0;
}

html.dark .button_lang>svg>path {
  fill: #fff;
}