* {
  font-family: system-ui;
  color-scheme: light;
  transition: background-color 0.2s;
}

div {
  margin: 0;
}

a {
  /* 无论是否有href都当作有href的状态显示 */
  text-decoration: underline 1px;
  cursor: pointer;
}

body {
  /* 修复FireFox的bug */
  height: 100%;

  margin: 0;
  min-width: 300px;
  display: flex;
}

.main {
  background-color: #fff;
  /* backdrop-filter: blur(16px); */
  /* -webkit-backdrop-filter: blur(16px); */
  max-width: 400px;
  min-width: 300px;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.12);
  border-radius: 12px;
  border: 1px solid #e4e7ed;
  margin: auto;
  padding: 20px;
  width: 100%;
  text-align: center;
}

.titleBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 100%;
  white-space: nowrap;
}

.titleBoxLeft {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 2px;
}

.titleBoxRight {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 153px;
}

.titleBoxImgHide .titleBoxRight {
  width: 70px;
}

.loginTitleTab {
  background-color: lightgray;
  width: 1px;
  height: 24px;
  margin: 0 9px;
}

.titleBox:not(.titleBoxImgHide) #titleImg-BCSP {
  display: none;
}

.titleBoxImgHide #titleImg-BCSPanel {
  display: none;
}

.loginTitle {
  font-size: 20px;
  /* margin: 10px 0; */
  cursor: pointer;
  text-decoration: none;
  color: #000;
  background: none;
  border: none;
  padding: 0;
}

.loginTitle:hover {
  color: #0072eb;
}

.loginTitleSelect {
  text-decoration-line: underline;
  text-decoration-thickness: 1px;
  text-decoration-color: #0072eb;
  text-underline-offset: 8px;
  color: #0069da;
  cursor: default;
}

.form {
  margin: 0;
  border: 1px solid lightgray;
  background-color: lightgray;
  border-radius: 8px;
  overflow: hidden;
  margin: 16px 0;
}

input {
  width: 100%;
  height: 40px;
  padding: 0 8px;
  font-size: 14px;
  border: 1px solid lightgray;
  outline-color: #0072eb;
  outline-width: 2px;
  outline-offset: -2px;
}

input:focus {
  outline-style: solid;
}

input:first-child {
  border-radius: 8px 8px 0 0;
}

.inputLastChild {
  border-radius: 0 0 8px 8px;
}

.divLoginButton {
  display: block flex;
  justify-content: space-between;
  width: 100%;
}

.loginStatus {
  margin: 0 0 0 0;
  text-align: left;
  font-size: 16px;
  line-height: 24px;
}

.forgotPassword {
  color: gray;
  font-size: 14px;
}

.loginbutton {
  width: 100px;
  padding: 8px;
  height: 100%;
  color: white;
  background-color: #1987fd;
  border-style: none;
  border-radius: 8px;
  font-size: 18px;
  margin: 0;
  float: right;
  /* outline: none; */
  cursor: pointer;
  transition: background-color 0.2s;
}

.loginbutton:hover {
  background-color: #0072eb;
}

.loginbutton:active {
  background-color: #004ea2;
}

.loginbutton:disabled {
  background-color: #a2cfff;
  cursor: no-drop;
}

.button_lang {
  text-align: center;
  font-size: 24px;
  width: 32px;
  height: 28px;
  padding: 0;
  border: none;
  text-decoration: none;
  background-color: #0000;
  color: white;
  cursor: pointer;
  /* margin-right: 8px; */
}

.button_lang>svg>path {
  fill: #000;
}

.div_change_lang {
  position: relative;
  display: inline-block;
}

.div_change_lang_content {
  display: none;
  width: 70px;
  height: auto !important;
  background-color: white;
  border-radius: 8px;
  padding: 10px 14px;
  margin-left: -33px;
  line-height: 28px;
  box-shadow: 0 0 8px gray;
}

.div_change_lang_content_a {
  color: black;
}

.div_change_lang_content_a:hover {
  color: #646464;
}

.div_change_lang_content_a:active {
  color: #a0a0a0;
}

.div_change_lang:hover .div_change_lang_content {
  /* 为了Firefox，必须使用table */
  display: table;
  position: absolute;
  left: 0;
  right: 0;
}

.notSecureWarning {
  display: block;
  border-radius: 6px;
  /* margin-bottom: 8px; */
  font-size: 16px;
  text-decoration: none;
  background-color: #d40000;
  color: white;
  padding: 4px;
  align-items: center;
  margin-left: 8px;
  margin-right: 5px;
}

.notSecureWarning:hover {
  text-decoration: underline;
}

footer {
  color: gray;
  font-size: 14px;
  margin-top: 16px;
}

footer a {
  color: gray;
  line-height: 20px;
}