/*
    图片取自
    https://www.minecraft.net/zh-hans/login
    https://www.minecraft.net/content/dam/minecraft/backgrounds/MSA_Stage5_Login.png
*/
body {
    margin: 0;
    background-image: url('../img/login-background-384x195-tinify.webp');
    /* 背景图垂直、水平均居中 */
    background-position: center center;
    /* 背景图不平铺 */
    background-repeat: no-repeat;
    /* 当内容高度大于图片高度时，背景图像的位置相对于viewport固定 */
    background-attachment: fixed;
    /* 让背景图基于容器大小伸缩 */
    background-size: cover;
    /* 设置背景颜色，背景图加载过程中会显示背景色 */
    background-color: #ffffff;
    /* 模糊 */
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
}

@media (prefers-color-scheme: dark) {
    body {
        background-image:
            linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
            url('../img/login-background-384x195-tinify.webp');
    }
}
